body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', 'Microsoft Jhenghei', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
  max-width: 720px;
  margin: auto;
  padding-left: 10px;
  background-color: #FFFFFF;
  color: #595959;
}
a {
  text-decoration: none;
  color: #42B983;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
header {
  text-align: center;
  margin-top: 40px;
}
body .markdown-body {
  display: block;
  clear: both;
}
header a#back-top {
  float: left;
}
header #go-back {
  float: left;
  font-size: 2.5em;
  color: #42B983;
  font-weight: bold;
  margin-bottom: -1em;
  margin-left: -1.3em;
  cursor: pointer;
}
header #go-back:hover {
  color: #276e4e;
}
header .logo-text {
  float: left;
  color: #888888;
}
time {
  float: right;
  color: #AAAAAA;
  font-weight: bold;
}
.content {
  position: relative;
  width: 100%;
  float: left;
  margin: auto;
}
ul.posts,
ul.posts li {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.posts li {
  margin-bottom: 20px;
}
ul.posts,
ul.posts li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.content .post-name {
  font-weight: 300;
  font-size: 1em;
  line-height: 2;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  margin-bottom: 0.4em;
  line-height: 1.5;
}
ul.posts .datetime {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  width: 150px;
  text-transform: uppercase;
  float: right;
  color: #AAAAAA;
  font-size: 0.9em;
  font-weight: bold;
  text-align: right;
}
.content a {
  font-weight: bold;
}
.content a:hover {
  color: #276e4e;
  background: repeat-x left bottom;
}
h2.tag-big {
  float: left;
  color: #888888;
}
a.tag {
  text-decoration: none;
  font-weight: bold;
  color: #AAAAAA;
  padding-right: 6px;
}
a.tag:hover {
  color: #777777;
  cursor: pointer;
}
.muted {
  color: #AAAAAA;
  text-decoration: none;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}
.bottom {
  clear: both;
}
footer {
  width: 100%;
  color: #AAAAAA;
  float: left;
  margin: 25px 0 15px;
  text-align: right;
  font-size: 0.8em;
}
footer#about {
  text-align: left;
}
footer a {
  margin: 0 3px 0 3px;
}
footer a:hover {
  color: #42B983;
}
#back-top {
  position: fixed;
  right: 10px;
  bottom: 0;
  font-size: 4em;
  color: #AAAAAA;
  margin-bottom: 30px;
  margin-right: 10px;
}
#back-top:hover {
  color: #276e4e;
  text-decoration: blink;
}
@media (max-width: 820px) {
  header #go-back {
    margin-bottom: 0;
    margin-left: 0;
  }
}
@media (max-width: 480px) {
  body .content ul.posts .datetime {
    float: none;
    display: none;
    width: auto;
    text-align: left;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #444444;
    color: #E4E4E4;
    font-weight: bold;
  }
  a {
    color: #e39777;
  }
  img {
    filter: grayscale(30%) brightness(0.5);
  }
  header #go-back {
    color: #e39777;
  }
  header #go-back:hover {
    color: #ca592a;
  }
  header .logo-text {
    color: #888888;
  }
  time {
    color: #7e7e7e;
  }
  ul.posts .datetime {
    color: #7e7e7e;
  }
  .content a:hover {
    color: #ca592a;
  }
  h2.tag-big {
    color: #888888;
  }
  a.tag {
    color: #7e7e7e;
  }
  a.tag:hover {
    color: #ca592a;
  }
  .muted {
    color: #7e7e7e;
  }
  footer {
    color: #7e7e7e;
  }
  footer a:hover {
    color: #e39777;
  }
  #back-top {
    color: #7e7e7e;
  }
  #back-top:hover {
    color: #ca592a;
  }
}
