body {
  font-family: 'Helvetica Neue', 'Microsoft Jhenghei', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
  line-height: 1.8em;
  padding: 1em;
  font-size: 14px;
  margin: auto;
  background-color: #FFFFFF;
  color: #595959;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  color: #42B983;
  margin: 30px 0 15px;
  padding-bottom: 6px;
}
h1 {
  font-size: 1.8em;
  border-bottom: 1px solid #cccccc;
}
h2 {
  font-size: 1.6em;
  border-bottom: 1px solid #cccccc;
}
h3 {
  font-size: 1.4em;
  border-bottom: 1px solid #cccccc;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.8em;
}
hr {
  height: 0.2em;
  border: 0;
  color: #cccccc;
  background-color: #cccccc;
}
p,
blockquote,
ul,
ol,
dl,
li,
table,
pre {
  margin: 10px 0;
}
p {
  margin: 1em 0;
  color: #595959;
}
pre {
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  border-radius: 3px;
  overflow: auto;
  padding: 5px;
  color: #111111;
}
pre code {
  background-color: #f2f2f2;
  border: none;
  padding: 0;
  color: #111111;
}
code {
  font-family: Consolas, Monaco, Andale Mono, monospace;
  background-color: #f2f2f2;
  border: 1px solid #cccccc;
  border-radius: 3px;
  padding: 0.12em 0.2em;
  line-height: 1;
  color: #111111;
}
pre > code {
  border: 0;
  margin: 0;
  padding: 0;
}
a {
  color: #42B983;
  text-decoration: none;
}
a:hover {
  color: #276e4e;
  text-decoration: none;
}
blockquote {
  margin: 0;
  padding-left: 2em;
  border-left: 0.5em #f2f2f2 solid;
  color: #111111;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}
li p:last-child {
  margin: 0;
}
dd {
  margin: 0 0 0 2em;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cccccc;
  color: #111111;
}
table td,
table th {
  border-left: 1px solid #cccccc;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}
table thead {
  background-color: #e6e6e6;
  color: #000000;
  text-align: left;
  vertical-align: bottom;
}
table td {
  background-color: transparent;
}
table tr:nth-child(2n) td {
  background-color: #f2f2f2;
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: #444444;
    color: #E4E4E4;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #e39777;
  }
  h1,
  h2,
  h3 {
    border-bottom: 1px solid #373737;
  }
  hr {
    color: #373737;
    background-color: #373737;
  }
  p {
    color: #E4E4E4;
  }
  pre {
    background-color: #494949;
    border: 1px solid #373737;
    color: #b1b1b1;
  }
  pre code {
    background-color: #494949;
    color: #b1b1b1;
  }
  code {
    background-color: #494949;
    border: 1px solid #373737;
    color: #b1b1b1;
  }
  a {
    color: #e39777;
  }
  a:hover {
    color: #ca592a;
  }
  blockquote {
    border-left: 0.5em #515151 solid;
    color: #b1b1b1;
  }
  table {
    border: 1px solid #5e5e5e;
    color: #b1b1b1;
  }
  table td,
  table th {
    border-left: 1px solid #5e5e5e;
  }
  table thead {
    background-color: #5e5e5e;
    color: #bbbbbb;
  }
  table tr:nth-child(2n) td {
    background-color: #515151;
  }
}
