body {
    font-family:'Helvetica Neue', 'Microsoft Jhenghei', 'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
    line-height:1.8em;
    padding:1em;
    font-size:14px;
    margin:auto;
}
 
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: #485763;
    margin: 30px 0 15px;
    padding-bottom:6px;
}
 
h1 {
    color: #485763;
    font-size: 1.8em;
    border-bottom: 1px solid #CCCCCC;
}
 
h2 {
    font-size: 1.6em;
    border-bottom: 1px solid #CCCCCC;
}

h3 {
    font-size: 1.4em;
    border-bottom: 1px solid #CCCCCC;
}
 
h4 {
    font-size: 1.em;
}
 
h5 {
    font-size: 0.82em;
}
 
h6 {
    font-size: 0.73em;
}
 
hr {
    height: 0.2em;
    border: 0;
    color: #CCCCCC;
    background-color: #CCCCCC;
}
p, blockquote, ul, ol, dl, li, table, pre {
    margin: 15px 0;
}
 
p{
    margin:1em 0;
    color: #5a5a5a;
}
 
pre { 
    background-color: #F8F8F8;    
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    overflow: auto;
    padding: 5px;
}
 
pre code {
    background-color: #F8F8F8;
    border: none;    
    padding: 0;
}
 
code {
    font-family: Consolas, Monaco, Andale Mono, monospace;
    background-color:#F8F8F8;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding: 0 0.2em;
    line-height: 1;
}
 
pre > code {
    border: 0;
    margin: 0;
    padding: 0;
}
 
a{ 
    color: #42b983; 
    text-decoration:none;
}

a:hover{ 
    color: #267B54; 
    text-decoration:none;
}

blockquote{
    color:#666666;
    margin:0;
    padding-left: 3em;
    border-left: 0.5em #EEE solid;
}
 
ul, ol { 
    margin: 1em 0; 
    padding: 0 0 0 2em; 
}

li p:last-child {
    margin:0 
}

dd { 
    margin: 0 0 0 2em; 
}

img { 
    border: 0; 
    -ms-interpolation-mode: bicubic; 
    vertical-align: middle; 
    max-width:100%;
}

table { 
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}
table td, table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: 0.5em 1em;
}
table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

table td {
    background-color: transparent;
}
table tr:nth-child(2n) td {
    background-color: #f2f2f2;
}
